a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
      
input[type=submit],
input[type=button] {
  outline: 0;
  cursor: pointer;
  background-color: #fff;
  font-size: 12px;
}

.wrap {
  width: 700px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #3C5A91;
  border-radius: 10px;
  font-size: 12px;
}

.btn:hover {
  background-color: #3C5A91;
  color: #fff;
}

.btnWrap {
  text-align: center;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* index */

header {
  text-align: center;
}

.maintop {
  margin-bottom: 10px;
}

.search {
  float: left;
}

.bookwrite {
  float: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #3C5A91;
  font-weight: bold;
  color: #fff;
}

th, td {
  padding: 6px;
}

tbody td:first-child,
tbody td:nth-child(3) {
  text-align: center;
}

tbody td:first-child,
tbody td:nth-child(3),
tbody td:nth-child(4) {
  width: 80px;
}

tbody td:last-child {
  text-align: right;
  padding-right: 10px;
}

tbody tr:hover {
  background-color: #ededed;
}

tbody tr:hover a {
  color: #1E3269;
}

.list {
  text-align: center;
}

.list li {
  display: inline-block;
}

.list a {
  display: block;
  padding: 5px;
  color: #555;
}

.list a:hover {
  color:  #5A78AF;
}

.list .now {
  font-weight: bold;
  color:  #5A78AF;
}

/* write */
.writeform {
  background-color: #fdfdfd;
  padding: 20px;
}

.writeform span {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.writeform textarea {
  width: 500px;
  height: 200px;
}

.writeform input[type=text]:focus,
.writeform textarea:focus {
  background-color: #eee;
}